---
import Layout from './Layout.astro';

interface Props {
  title: string;
  description?: string;
  ogType?: 'website' | 'article';
  noindex?: boolean;
}

const { title, description, ogType, noindex } = Astro.props;
---

<Layout title={title} description={description} ogType={ogType} noindex={noindex}>
  <slot name="head" slot="head" />
  <div class="container">
    <div class="row content margin-bottom-20">
      <h1>{title}</h1>
      <slot />
    </div>
  </div>
</Layout>
